<footer class="custom-footer">
	<section class="footer-content">
		<h1>Contact Me</h1>
		<section class="social-icons">

			<ul>
				{% for item in site.data.social.items %}
					{% if item.visible %}
					<li>
						{% assign provider = "fa fa-" | append: item.name | downcase %}
						{% assign url = item.url | append: "/" | append: item.username %}
						<a href="{{ url }}" target="_blank">
							<i class="{{ provider }}"></i>
						</a>
						
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</section>
	</section>
</footer>
