footer {
	color: white;
	padding: 5%;
	background-color: crimson;
	box-sizing: border-box;
    height: 200px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
	max-width: 1000px;
	margin: 0 auto;
}

.social-icons i {
	color: white;
	font-size: 30px;
	transition: all 0.15s ease-in-out;
}

.social-icons i:hover {
	color: grey;
}

.social-icons li {
	display: inline;
	padding-right: 0.5em;
}