footer {
	color: white;
	padding: 5%;
	background-color: crimson;
	box-sizing: border-box;
    height: 200px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}

.social-icons i {
	color: white;
	font-size: 30px;
	transition: all 0.15s ease-in-out;
}

.social-icons i:hover {
	color: grey;
}