.profile-pic {
	height: 10em;
	width: 10em;
	border-radius: 100%;
}

.gap {
	border-top: 0.3em solid crimson;
}

.profile-header h1 {
	margin-bottom: 0.5em;
}

@media screen and (max-width: 1000px) {
	.profile-pic {
		border: 0.3em solid crimson;
		text-align: center;
	}
	.background-div {
		border-top: 0.3em solid crimson;
		margin-top: -2em;
		margin-bottom: 3em;
	}
}

@media screen and (min-width: 1000px) {
	
}
