.navbar {
	color: white;
	background-color: crimson;
	padding: 1em;
}

.navbar li {
	display: inline;
	padding-right: 0.5em;
}

.navbar a {
	text-decoration: none;
}

.active {
	color:#161925;
}

.inactive {
	color: white;
}

.home-icon {
	color: white;
}