#search-box {
	font-size: 1em;
	padding: 0.5em;
	border-radius: 5px 0 0 5px;
	border: solid crimson;
	border-width: 2px 0 2px 2px;
	color: 	#08090d;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
	width: 100%;
}

#search-button {
	font-size: small;
	text-align: center;
	padding: 0.5em;
	background-color: crimson;
	border-radius: 0 5px 5px 0;
	border: 2px solid crimson;
	height: 100%;
	width: auto;
	color: white;
	font-weight: bolder;
	vertical-align: bottom;
	transition: all 0.2s ease-in-out;
}

#search-button:hover {
	cursor: pointer;
	background-color: grey;
	border-color: grey;
}

#search-button:hover + #search-box {
	border-color: grey;
}

.search-form-div {
	display: flex;
	flex-direction: row-reverse;
	height: 3em;
	max-width: 400px;
	margin: 0 auto;
}

.search-bar {
	margin-bottom: 3em;
	max-height: 3em;
}

.no-match-query {
	text-align: center;
}

