# config.yml

backend:
  name: github
  branch: master # Branch to update (optional; defaults to master)
  repo: eoinparkinson/portfolio-site
media_folder: 'assets/images'
collections:
  - name: "pages"
    label: "Pages"
    files: 
      - label: "Home"
        name: "home"
        file: /index.md
        create: false
        editor:
          preview: false
        fields:
          - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'home' }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Profile Picture", name: "profile-pic", widget: "image" }
          - { label: "Caption", name: "caption", widget: "string" }
          - { label: "Subtitle", name: "subtitle", widget: "string" }
          - { label: "Show Divider", name: "div", widget: "boolean" , default: true}
          - { label: "Show Callout", name: "callout", widget: "boolean", default: true }
          - { label: "Body", name: "body", widget: "markdown" }
  - name: 'portfolio'
    label: 'Portfolio'
    folder: '_posts/'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'post' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: "Excerpt", name: "excerpt", widget: "string" }
      - { label: "Cover Image", name: "image", widget: "image" }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: "Tags", name: "tags", widget:  "list"}
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'config'
    label: 'Config'
    editor:
      preview: false
    files:
      - label: 'Navigation'
        name: 'navigation'
        file: '_data/navigation.yml'
        fields:
          - label: 'Navigation Items'
            name: 'items'
            widget: 'list'
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Link, name: url, widget: string }
      - label: "Social"
        name: "social"
        file: "_data/social.yml"
        fields:
          - label: "Social Links"
            name: items
            widget: "list"
            fields:
              - { label: Name, name: name, widget: string }
              - { label: Username, name: username, widget: string }
              - { label: Provider Url, name: url, widget: string }
              - { label: Enabled, name: enabled, widget: "boolean", default: true}
