<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link href="/assets/css/highlight.css" rel="stylesheet" />
	<title>Post - {{ page.title }}</title>
</head>
<body>
	<header class="page-header">
		<section class="header-items">
			{% include navigation.html %}
		</section>
	</header>

	
	<main class="grid-container">
		{% include sidebar.html %}

		<section class="content post-content">
			<section class="title-block">
				<img class="post-cover-image" src="{{ page.image }}" alt="">
	
				<div class="title-block-text">
					<p class="date-item">{{ page.date | date: "%-d %B %Y" }}</p>
					<h1 class="title-item code-font">{{ page.title }}</h1>
				</div>
			</section>
			
			{% include anchor_headings.html html=content beforeHeading="True" anchorBody="|" %}

		</section>

	</main>

	<!-- {% include latest-posts.html %} -->
	{% include footer.html %}
</body>
</html>