<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/main.css">
	<title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>

<header class="page-header">
	{% include navigation.html %}
	<h1 class="title code-font">{{ page.title }}</h1>
	<p class="small-p-tag">This search feature is still in testing</p>
</header>

<section class="search-page content">
	
	<section>
		{% include search-form.html %}
	</section>
	  
	<section class="search-results">
		<div class="portfolio-list" id="search-results">
			<!-- Search Results Go Here -->
		</div>
	</section>
</section>

</body>

<script>
	window.store = {
		{% for post in site.posts %}
			"{{ post.url | slugify }}": {
				"title": "{{ post.title | xml_escape }}",
				"image": "{{ post.image | xml_escape }}",
				"date": "{{ post.date | date: '%-d %B %Y' | xml_escape }}",
				"excerpt": "{{ post.excerpt | remove: '#' | xml_escape }}",
				"tags" : "{{ post.tags | xml_escape }}",
				"content": {{ post.content | strip_html | strip_newlines | jsonify }},
				"url": "{{ post.url | xml_escape }}"
			}
			{% unless forloop.last %},{% endunless %}
		{% endfor %}
	};
	</script>
	<script src="/assets/js/lunr.min.js"></script>
	<script src="/assets/js/search.js"></script>
</html>